/localstream-client-desktop/.gradle
/localstream-client-desktop/.idea
/localstream-client-desktop/build
/localstream-client-desktop/gradle
/localstream-client-desktop/libs
/localstream-client-desktop/logs
/localstream-client-mobile
/localstream-client-installer
/localstream-common/.gradle
/localstream-common/.idea
/localstream-common/gradle
/localstream-data
/localstream-server/.gradle
/localstream-server/.idea
/localstream-server/build
/localstream-server/gradle
/localstream-server/logs
/localstream-server/config.json
/.idea
